@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --first-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --second-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/bg-pattern-desktop.svg');
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 300px 80px 80px;
    height: 100vh;
}

#left-content #logo {
    width: 170px;
    margin-bottom: 110px;
}

#right-image {
    background-image: url('/images/hero-desktop.jpg');
    width: 100%;
    height: 100vh;
}

#orange-heading {
    font-weight: 300 !important;
    letter-spacing: 11px;
    font-size: 60px;
}

.orange {
    color: var(--primary);
    font-weight: 400;
}

.black-heading {
    font-weight: 600;
    letter-spacing: 11px;
    font-size: 60px;
}

form {
    display: flex;
    align-items: center;
}

form input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border-color: var(--primary);
    padding: 25px;
    border-width: 1.5px;
    display: inline-block;
    color: var(--soft-red);
}

input::placeholder {
    color: var(--primary);
    font-family: 'Josefin Sans', sans-serif;
    opacity: 70%;
    font-weight: 400;
}

#error-icon {
    position: relative;
    margin: 20px 5px;
    display: inline-block;
    height: 25px;
}

#custom-button {
    height: 50px;
    width: 120px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

#error-message {
    font-size: 14px;
    color: var(--soft-red);
}